<div class="container">

  <a href="#" class="paulund_modal">Splash</a>
<i class="fa fa-chevron-left"></i>
  <ul id="splash_list">
    <% @splashes.each do |splash| %>
    <li id="<%= splash.id %>" class="splash">
      <% author = User.find(splash.author_id) %>
      <%= author.first_name %> <%= author.last_name %>
      <%= splash.content %>
      <div class="comment_div" style="display:none">
        <form action='/splashes/:id/comment' method='post'>
          <input type='textarea' rows="4" cols="10" placeholder='Reply'>
        </form>
        <ul class="comment_list">
          <% splash.comments.each do |comment| %>
          <% user = User.find(comment.user_id) %>
          <li>"<%= comment.user.first_name %> <%= comment.user.last_name %>"</li>
          <li><%= comment.content %></li>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
</div>
</ul>
<i class="fa fa-chevron-right"></i>
</div>

