<!-- black nav header -->
<nav class="navbar navbar-inverse" role="navigation">
  <h3>SoapBox</h3>
  <% if current_user %>
    <div class="logout"><a href='/logout'>Logout</a></div>
    <div class="logged-in-as">Logged in as: <%= @current_user.first_name %> <%= @current_user.last_name %></div>
  <% end %>
</nav>
<div class="create-new-splash-div">
  <a href="#" class="paulund_modal"><h3 class="new-splash-link">+New Splash</h3></div></a>
</div>
<!-- Jumbotron to span width of page -->
<div class="jumbotron" id="jumbotron-index"></div>
<div class="container">
  <!-- <a href="#" class="paulund_modal">Splash</a> -->
  <div class="row">
    <div class="arrow_container col-md-1">
      <i class="fa fa-5x fa-chevron-left"></i>
    </div>
 
    <!-- Begin Splash List -->
    <div class="x-hidden col-md-10">
      <ul id="splash_list" class="col-md-10">
        <% @splashes.each do |splash| %>
        <li id="<%= splash.id %>" class="splash inline-list">
          <% author = User.find(splash.author_id) %><div id="splash-created-on"><%= time_ago %></div><%= author.first_name %> <%= author.last_name %><br>
          <%= splash.content %>
          <!-- Begin Comment List -->
          <ul id="comment-<%=splash.id%>" class="comment-list">
            <li>
              <form action='/splashes/<%=splash.id%>/comment' method='post' class="submit_comment" id="submit-comment-<%=splash.id%>">
                <input type='textarea' rows="4" cols="10" placeholder='Reply' name="content">
              </form>
            </li>

            <li role="presentation" class="divider"></li>

            <% splash.comments.each do |comment| %>
            <% user = User.find(comment.user_id) %>
            <li role="presentation"><p><%= comment.user.first_name %> <%= comment.user.last_name %></li>
            <li role="presentation"><%= comment.content %></li></p>
            <hr>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="arrow_container col-md-1">
      <i class="fa fa-5x fa-chevron-right"></i>
    </div>
  </div>


</div>

